
<div class="max-container">

    <div class="container-hero">
        <h1>Services</h1>
        <p>Home • Services</p>
        
    </div>
    <img class="pos navaja" src="\path24.svg" alt="">
    <img class="pos maquina" src="\path110.svg" alt="">
    <img class="pos tijera-bg" src="\path114.svg" alt="">
    <img class="pos tijera-fina" src="\path182.svg" alt="">
    
</div>

<style>
    body{
    }

    .container-hero{
        display: flex;
        flex-direction: column;
        background-color:rgb(27, 27, 27);
        height: 27rem;
        justify-content: center;
        align-items: center;
        color: white;

    }

    h1{
        z-index: 1;
        margin: 1px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    p{
        z-index: 1;
        opacity: 21%;
    }

    .pos{
        z-index: 2;
    }

    .navaja{
        position: absolute;
        top: 14rem;
        right: 59rem;
    }

    .maquina{
        position: absolute;
        top: 20rem;
        right: 37rem;
    }

    .tijera-bg{
        position: absolute;
        top: 7rem;
        right: 7rem;
    }
    .tijera-fina{
        position: absolute;
        top: 2rem;
        right: 48rem;
    }

    img{
        pointer-events: none; 
        user-select: none;   
        -webkit-user-drag: none;
    }

    .max-container{
        overflow: hidden;
        position: relative;
    }
</style>