<div class="center">
    <nav class="nav-container">
    <icons class="name">
        <h1>
            <span class="gloss">GLOSS</span>
            <span class="and">&</span>
            <span class="glam">GLAM</span>
        </h1>
    </icons>


    <links >
        <ul class="links-nav">
            <li class="link"><a href="">Home</a></li>
            <li class="link"><a href="">About Us</a></li>
            <li class="link"><a href="">Services</a></li>
            <li class="link"><a href="">Princing</a></li>
            <li class="link"><a href="">Appointment</a></li>
            <li class="link"><a href="">Contact</a></li>
        </ul>
    </links>


    <buttons class="login-container">
        <a class="button-shop login-gap" href=""><img src="\Shop.svg" alt="carrito"></a>
        <button class="button-lupa login-gap"><img src="\lupa.svg" alt="lupa-buscar"></button>
        <a class="login-signup login-gap" href="">Sign Up</a>
    </buttons>
</nav>
</div>


<style>
    body{
        align-items: center;
    }
    .nav-container{
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
        font-weight: lighter;
    }

    .name{
        display: flex;
        align-items: center;
    }

    .gloss{
        color: white;
        font-weight: bolder;
    }
    .and{
        filter: drop-shadow(0px 0px 2px white);
        font-weight: bolder;
    }
    .glam{
        color:rgba(206, 165, 97, 1);
        font-weight:lighter ;
    }

    .links-nav{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .link{
        padding: 1rem;


        &:hover a{
            color: #CEA561;
            border-bottom: .1rem solid;
            
        }
        &:active a{
            color: #CEA561;
            border-bottom: .1rem solid;
            
        }
    a{

        color: white;
        text-decoration: none;
    }
        
    }

    .login-container{
        display: flex;
        align-items: center;

    }
    
    
    .button-shop{
        display: flex;
        background-color: #CEA561;
        width: 32px;
        height: 32px;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;

    }

    .button-lupa{
        display: flex;
        background-color: #CEA561;
        width: 32px;
        height: 32px;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        border-style:none ;
    }

    .login-signup{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CEA561;
        width:8rem;
        height:3rem;
        border-radius: 12px;
        color: black;
        text-decoration: none;

        &:hover{
            opacity: 80%;
        }
    }

    .login-gap{
        margin: .5rem;
    }



    .center{
        z-index: 1;
        position: fixed;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
</style>