<div class="back">

    <h2>Stay Updated</h2>

    <p>Borem ipsum dolor sit amet, consectetur adipiscin elit. Nunc vulputate libero amet, consectetur adipiscin </p>
    
    <div class="sUp">
        <input type="email" name="Email" id="" placeholder="Enter your email"><button>Sign Up</button>
    </div>

</div>


<style>
    body{
        margin: 0;
    }
    .back{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: rgba(27, 27, 27, 1);
        font-family: Cormorant Garamond;
    }

    h2{
        margin-top: 5rem;
        margin-bottom: 0.7rem;
        color: white;
        font-family: Cormorant Garamond;
        font-weight: lighter;
        font-size: 3rem;
    }

    p{
        color:rgba(255, 255, 255, 0.7);
        font-family: Cormorant Garamond;
        font-weight: lighter;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    input{
        height:20px;
        padding: 14px 118px 18px 8px;
        gap: 10px;
        border-radius: 12px 0px 0px 12px;
        border-bottom: 0px;
        border-right: 0px;
        background-color: rgba(27, 27, 27, 1);
        margin-bottom: 5rem;

        &::placeholder{
            color: rgba(255, 255, 255, 0.4);
        }
    }

    button{
        border: 0px;
        width:125px;
        height:56px;
        padding: 16px 32px 16px 32px;
        border-radius: 0px 1rem 1rem 0px;
        background: rgba(206, 165, 97, 1);
    }

    .sUp{
        display: flex;
    }
</style>