


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Serif&family=Roboto+Mono&family=Work+Sans&display=swap" rel="stylesheet">

<div class="container">

    <div class="box">

        <div class="fcolumn">
            <h3>Logo</h3>
            <p>Borem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
            <div class="icons">
                <img src="/facebook.svg" alt="facebook">
                <img src="/twitterbird.svg" alt="twitter">
                <img src="\linkedin.svg" alt="linkedin">
            </div>
        </div>
    
    
        <div class="group-c">
            <div class="flexc">
                <ul>
                    <li><h3>Services</h3></li>
                    <li><a href="">Hair Cut</a></li>
                    <li><a href="">Hair Dye</a></li>
                    <li><a href="">Shaving</a></li>
                    <li><a href="">Facial</a></li>
                    <li><a href="">Massage</a></li>
                </ul>
            </div>
    
            <div class="flexc">
                <ul>
                    <li><h3>Related Links</h3></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our Blog</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Social links</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
    
            <div class="flexc">
                <ul>
                    <li><h3>Terms</h3></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Tax Forms</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">FAQs</a></li>
                </ul>
            </div>
    
        </div>
    
        <div class="contact">
            <h3>Contact Us</h3>
            <div class="spaces">
                <img src="\loc.svg" alt=""><h4>Location</h4>
            </div>
                <p>523 Main Street, New York</p>
    
            <div class="spaces">
                <img src="\phone.svg" alt=""><h4>Mobile</h4>
            </div>
                <p>+880 1316-440504</p>
    
            <div class="spaces">
                <img src="\mail.svg" alt=""><h4>Email</h4>
            </div>
                <p>qubenext@gmail.com</p>
        </div>
    </div>


</div>
<div class="foot">
    <center>
        <p>Copyright © 2023 CryptoVault. All Rights Reserved</p>
    </center>
</div>

<style>
    body{
        font-family: Cormorant Garamond;
    }

    .container{
        display: flex;
        background-color: rgba(21, 21, 21, 1);
        justify-content: center;
    }
    
    .box{
        display: flex;
        padding: 4rem;
    }

    .fcolumn{
        display: flex;
        flex-direction: column;
        max-width: 28rem;
    }

    .group-c{
        display: flex;

    }

    .contact{
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }

    .spaces{
        display: flex;
        margin-bottom: 0;
    }

    .foot{
        display: flex;
        justify-content: center;
        background-color: rgba(21, 21, 21, 1);
        color: white;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    h3{
        color: rgba(255, 255, 255, 1);
;
        font-family: Cormorant Garamond;
    }

    p{
        color: rgba(255, 255, 255, 0.5);

;
        font-family: Cormorant Garamond;
    }

    h4{
        color: rgba(255, 255, 255, 1);
;
        font-family: Cormorant Garamond;
    }

    a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);

;
        font-family: Cormorant Garamond;
    }

    li{
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .border{
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        ;
    }

    img{
        padding: .5rem;
    }
</style>